<div class="row container-fluid" *ngIf="item">

	<h2 class="col col-10">{{ item.name | uppercase }}</h2>

	<img class="col col-sm-6 col-md-5" src="assets/products/{{item.id}}.jpg" alt="Larger Item Picture">

	<div class="text-body col col-sm-12 col-md-5 row">

		  <div class="text col col-6"><span>price: $</span>{{item.price}}.00</div>
		  <div class="text col col-6"><span>category: </span>{{item.category}}</div>
		  <div class="text col col-12"><p><span>description:</span></p>{{item.description}}</div>
		  <div class="text col col-6"><span>dimensions: </span>{{item.dimensions}}</div>
		  <div class="text col col-6"><span>weight: </span>{{item.weight}}</div>

		  <button (click)="addToCart(item)" class="btn-green">Add to Cart</button>

	</div>
</div>

