$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;

button {
	max-height: 5vh;
  cursor: pointer;
}
.container-fluid {
	background-color: rgba(247, 247, 245, .25);
	margin: 1vh 0;
	padding: 1vh 0;
}
.row {
	margin: 20px;
}

.alert{
    display: none;
}

img {
  height: 100%;
  border: $grey solid 2px;
  padding: 0;
}
span {
	color: $grey;
}
h2 {
  color: $grey;
}
.text {
  color: $green;
}

.text-body {
  padding-left: 30px;
}


////////////
// button //
////////////


 .btn-green {
   font-family: 'camptonbook';
   border-radius: 0;
   background-color: $green;
   color: $offwhite;
   border: $offwhite solid 2px;
   cursor: pointer;
 }
 .btn-green:hover {
   background-color: $offwhite;
   color: $green;
   border: $green solid 2px;
 }

@media only screen and (max-width : 850px) {
  img {
    max-width: 90vw;
  }
  div[_ngcontent-c5] div {
    padding: 0;
  }
  .row[_ngcontent-c5] {
    margin: 10px;
  }
  .text-body[_ngcontent-c5] {
    padding: 0;
  }
}