$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;

button {
	max-height: 5vh;
}
.container-fluid {
	background-color: rgba(247, 247, 245, .25);
	margin: 1vh 0;
	padding: 1vh 0;
}
.row {
	color: rgb(247, 247, 245);
}
img {
	height: 100%;
}
span {
	color: #f7f7f5;
	font-style: italic;
}

 .btn-green {
   font-family: 'camptonbook';
   border-radius: 0;
   background-color: $green;
   color: $offwhite;
   border: $offwhite solid 2px;
 }
 .btn-green:hover {
   background-color: $offwhite;
   color: $green;
   border: $green solid 2px;
 }
