<div class="row container-fluid" *ngIf="item">
	
	<h2 class="col col-12">{{ item.name | uppercase }}</h2>

	<img class="col col-sm-12 col-md-6" src="assets/products/{{item.id}}.jpg" alt="Bifold Wallet">
	
	<div class="col col-6 row">
		
		  <div class="col col-6"><span>price: $</span>{{item.price}}.00</div>
		  <div class="col col-6"><span>category: </span>{{item.category}}</div>
		  <div class="col col-12"><p><span>description:</span></p>{{item.description}}</div>
		  <div class="col col-6"><span>dimensions: </span>{{item.dimensions}}</div>
		  <div class="col col-6"><span>weight: </span>{{item.weight}}</div>

		  <button (click)="addToCart(item.id)">Add to Cart</button>

	</div>
</div>