$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;




.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg {
  background-image: url('/assets/background1.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -6vh;
  position: relative;
  z-index: -5;
}

.header {
  color: $offwhite;

}

h1 {
  font-family: 'camptonthin';
  font-size: 70px;
  text-align: center;
}

@media only screen
  and (min-device-width: 380px)
	and (max-device-width: 768px) {
      .home-bg {
        margin-top: -13vh;
      }
      h1 {
        font-family: 'camptonthin';
        font-size: 40px;
      }
  }

  @media only screen
	and (max-device-width: 380px) {
      .home-bg {
        margin-top: -10vh;
      }
      h1 {
        font-family: 'camptonthin';
        font-size: 30px;
      }
	}

