.home-bg {
  background-image: url('/assets/background1.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: - 50px;
  padding-top: 8vh;
}
.container-fluid {
  padding: 1vh 1vw;
}
.container {
	background-color: rgba(247, 247, 245, .5);
	padding: 1vh 1vw;

	h2 {
		margin-top: 2vh;
	}
}
