$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;


.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg {
  background-image: url('/assets/background1.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: - 180px;
  position: relative;
  padding-top: 8vh;
}

.header {
  color: $offwhite;
}
