div.col {
	margin: 2vh 0;
}
.row {
	width: 100%;
}
img {
	max-width: 33vw;
}
.container-fluid {
	background-image: url('/assets/background1.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -50px;
	padding-top: 50px;
}
.col {
	background-color: rgba(247, 247, 245, .5);
	margin: 0;
}