<div class="row text-center">
	<div class="col col-6 col-lg-4">
		<h1>Item </h1>
		<button>Add to Cart</button>
	</div>
	<div class="col col-6 col-lg-4">
		<h1>Item </h1>
		<button>Add to Cart</button>
	</div>
	<div class="col col-6 col-lg-4">
		<h1>Item </h1>
		<button>Add to Cart</button>
	</div>
	<div class="col col-6 col-lg-4">
		<h1>Item </h1>
		<button>Add to Cart</button>
	</div>
	<div class="col col-6 col-lg-4">
		<h1>Item </h1>
		<button>Add to Cart</button>
	</div>
	<div class="col col-6 col-lg-4">
		<h1>Item </h1>
		<button>Add to Cart</button>
	</div>
</div>
