$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;

/////////////////////////
// parallax background //
/////////////////////////

p {
  font-family: 'camptonlight';
}

.bold{
  font-family: 'camptonmedium';
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg {
  background-image: url('/assets/foggyTrees.jpg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10vh;
  position: relative;
}
.header {
  color: $offwhite;
  font-family: 'camptonthin';
  text-align: center;
  font-size: 50px;
  margin-top: 54px;
}

.middle {
  background-color: $offwhite;
  color: $grey;
}

.product-div {
  text-align: center;
}

.product-img {

  height: 200px;
  width: 200px;
  border: $grey solid 2px;
  margin-bottom: 10px;
}



div.col {
	margin: 2vh 0;
}
.row {
	width: 100%;
	margin: 0;
}
img {
	max-width: 30vw;
}
.container-fluid {
	padding: 0;
}

.col {
	background-color: rgba(247, 247, 245, .5);
	margin: 0;
}

@media only screen
  and (min-device-width: 320px)
	and (max-device-width: 812px) {
		.container-fluid {
			padding-top: 6vh;
		}

		img {
			max-width: 42vw;
		}
	}
