<div class="home-bg d-flex p-2 justify-content-center">
  <div class="d-flex justify-content-center align-items-center parallax">

    <h1 class="header">LET'S GET IN TOUCH</h1>

  </div>
</div>


<div class="container-fluid middle my-5">
  <div class="row my-5 px-3">
    <p class="col-12">
       Have questions, curious about a custom order or just want to chat about your favorite adventure?<br>I want to hear from you.<br><br>
       Fill out the form below and I'll get back to you ASAP!
    </p>
    <form action="https://formspree.io/josh@mtnpine.us.com" method="POST"><div class="row">
      <input class="col col-12 col-lg-6 input" type="text" name="name" placeholder="NAME">
      <input class="col col-12 col-lg-6 input" type="email" name="_replyto" placeholder="EMAIL">
      <textarea class="col col-12" type="text" name="message" placeholder="MESSAGE" rows="5"></textarea>
      <input class="col col-4 text-center btn-green" type="submit" value="SEND">
    </div></form>

  </div>
</div>


<!-- <div class="container">
	<form class="row" action="https://formspree.io/josh@mtnpine.us.com"
	      method="POST">
	    <input class="col-6" type="text" name="name" placeholder="Name">
	    <input class="col-6" type="email" name="_replyto" placeholder="Email">
	    <input class="col-10" type="text" name="message" placeholder="Message">
	    <input class="col-2 text-center" type="submit" value="Send">
	</form>
</div> -->