<div class="container-fluid">
  <div class="container">

    <!-- <h2>Sign Up</h2> -->
    <form (ngSubmit)="onNewUser(newUser)" #signUpForm="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Full Name" [(ngModel)]="newUser.name" #name="ngModel" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="newUser.email" #email="ngModel" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="newUser.password" #password="ngModel" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="verifyPassword" placeholder="Verify Password" [(ngModel)]="newUser.verifyPassword" #verifyPassword="ngModel" required>
      </div>
      <div class="form-group">
        <input type="submit" class="btn-green">
      </div>
    </form>

  </div>
</div>
