$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;

form {
  font-family: 'camptonbook';
}

.container-fluid {
  padding: 1vh 1vw;
}
.container {
	background-color: rgba(247, 247, 245, .5);
	padding: 0 1vw;

	h2 {
		padding: 1vh 0;
	}
}

////////////
// Button //
////////////

 .btn-green {
   font-family: 'camptonbook';
   border-radius: 0;
   background-color: $offwhite;
   color: $green;
   border: $green solid 2px;
 }
 .btn-green:hover {
   background-color: $green;
   color: $offwhite;
   border: $offwhite solid 2px;
 }
