$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;


.container-fluid {
  padding: 1vh 1vw;
}
.container {
	background-color: rgba(247, 247, 245, .5);
	padding: 0 1vw;

	h2 {
		padding: 1vh 0;
	}
}
img {
	max-width: 25vw;
}

 .btn-red {
   font-family: 'camptonbook';
   border-radius: 0;
   background-color: #803737;
   color: $offwhite;
   border: $offwhite solid 2px;
 }
 .btn-red:hover {
   background-color: $offwhite;
   color: #803737;
   border: #803737 solid 2px;
 }
