$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;

.container-fluid {
  background-color: rgba(247, 247, 245, .5);
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg {
  background-image: url('/assets/foggyTrees.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10vh;
  position: relative;
}
.header {
  color: $grey;
  font-family: 'camptonthin';
  text-align: center;
}

.middle {
  background-color: $offwhite;
  color: $grey;
}

.josh {
  background-image: url('/assets/josh.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  margin: 0 auto;
}

@media only screen
	and (max-device-width: 768px) {
      .josh {
        margin-bottom: 3vh;
      }

  }
