	<div class="home-bg d-flex p-2 justify-content-center">
	  <div class="d-flex justify-content-center align-items-center parallax">


			<h1 class="header">LET'S TAKE THIS OUTDOORS</h1>


	  </div>
  </div>

  <div class="container-fluid middle my-5">
    <div class="row my-5 px-3">
      <div class="col col-md-6 col-sm-12 col-12">
        <div class="josh"></div>
      </div>
      <div class="col col-md-6 col-sm-12 col-12 d-flex text">
        <p><b class="bold">Mountain</b> | \ˈmount(ə)n\ | A region characterized by remoteness and inaccessibility<br><br>
        <b class="bold">Pine</b> | \ˈpīn\ | To yearn deeply for<br><br>

        My name is Josh and I'm the founder of MTN Pine. Mountains to me breathe a sense of beauty, danger, excitement and adventure
        into my soul. It's something I truly long for. They are where I'm reminded of purpose and where I take inspiration to create.<br><br>

        I’m also a sucker for the sentimental. A souvenir from a foreign travel, my grandfather’s old army chest, or a pair of shoes
        I held onto far too long; all items that hold a unique story. Other than the shoes, I want to pass those items and meaningful
        stories along.<br><br>

        This is why I create. When I craft a leather piece I do so hoping that it will be a means of inspiration for
        adventure and a vessel for a story; something meaningful that can be passed on.</p>
      </div>
    </div>

    <hr>

    <div class="row my-5 px-3">
        <div class="col col-md-6 col-sm-12 col-12 d-flex text">
          <p><b class="bold">THE LEATHER</b><br> <br>
          MTN Pine goods are made with nothing other than Full Grain Leather, the highest quality leather money can buy.
          Full Grain is special because it's durable, natural, and it tells a unique narrative. One side tells the cow’s story and
          how many barb wire fences it ran into. The other side tells your story. With time and use, it will mature and darken. Every
          rock you scrape it on and every drop of rain adds to it’s beauty and character. <br> <br>

          Most goods are made with veg tanned leather that I hand-dye in my shop. The items that require a softer material are made of
          pre-dyed chromexcel leather that is more flexible. Both types are considered to be the most durable leathers available.
          Adding to it's strength, every item is stitched by hand to ensure quality. With general care and oiling, they are assured
          to outlive you.
            </p>
        </div>
        <div class="col col-md-6 col-sm-12 col-12">
          <div class="cut"></div>
        </div>
    </div>

  </div>
