<div class="container-fluid">
	<div class="home-bg d-flex p-2 justify-content-center">
	  <div class="d-flex justify-content-center align-items-center parallax">
			<div class="jumbotron row">
				
				<div class="col col-md-4 col-12">

					<h1>The Team <span>(from left to right)</span></h1>

					<div class="container-fluid row">
						<div class="col col-lg-12 col-4">
							<h3>Josh</h3>
							<ul>
								<a href="https://github.com/joshrhughes"><li>Github</li></a>
								<a href="https://www.linkedin.com/in/joshuaryanhughes"><li>LinkedIn</li></a>
								<a href="http://joshuaryanhugh.es"><li>Portfolio</li></a>
							</ul>
						</div>

						<div class="col col-lg-12 col-4">
							<h3>Ricky</h3>
							<ul>
								<a href="https://github.com/RickyTranmer"><li>Github</li></a>
								<a href="https://www.linkedin.com/in/RickyTranmer"><li>LinkedIn</li></a>
								<a href="http://rickytranmer.com"><li>Portfolio</li></a>
							</ul>
						</div>

						<div class="col col-lg-12 col-4">							
							<h3>Aaron</h3>
							<ul>
								<a href="https://github.com/middtown"><li>Github</li></a>
								<a href="https://www.linkedin.com/in/middletonaaron"><li>LinkedIn</li></a>
								<a href="http://aaronmiddleton.co/"><li>Portfolio</li></a>
							</ul>
						</div>
					</div>
				</div>

				<div class="col col-md-8 col-12">
					<img src="/assets/devs1.jpg" alt="The Development Team standing in front of a brick wall">
				</div>

			</div>
	  </div>
	</div>
</div>
