<h1>The Team</h1>
<h3>Aaron</h3>
<ul>
	<a href="https://github.com/middtown"><li>Github</li></a>
	<a href="https://www.linkedin.com/in/middletonaaron"><li>LinkedIn</li></a>
	<a href="http://aaronmiddleton.co/"><li>Portfolio</li></a>
</ul>
<h3>Josh</h3>
<ul>
	<a href="https://github.com/joshrhughes"><li>Github</li></a>
	<a href="https://www.linkedin.com/in/joshuaryanhughes"><li>LinkedIn</li></a>
	<a href="http://joshuaryanhugh.es"><li>Portfolio</li></a>
</ul>
<h3>Ricky</h3>
<ul>
	<a href="https://github.com/RickyTranmer"><li>Github</li></a>
	<a href="https://www.linkedin.com/in/RickyTranmer"><li>LinkedIn</li></a>
	<a href="http://rickytranmer.com"><li>Portfolio</li></a>
</ul>