$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;

p {
  font-family: 'camptonlight';
}

.bold{
  font-family: 'camptonmedium';
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg {
  background-image: url('/assets/tools.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10vh;
  position: relative;
}
.header {
  color: $offwhite;
  font-family: 'camptonthin';
  text-align: center;
  font-size: 50px;
}

h4 {
  font-family: 'camptonthin';
  color: $grey;
  text-align: center;
  margin: 0 auto;
}

.text {
  border: $grey solid 2px;
  margin: 2px;
}

.middle {
  background-color: $offwhite;
  color: $grey;
  text-align: center;
}

.team {
  background-image: url('/assets/devs2.jpg');
  height: 400px;
  min-width: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen
	and (max-device-width: 768px) {
      .team {
        height: 300px;
        min-width: 450px;
      }
  }
@media only screen
	and (max-device-width: 380px) {
      .team {
        height: 200px;
        min-width: 300px;
      }

  }
