
<div class="home-bg d-flex p-2 justify-content-center">
  <div class="d-flex justify-content-center align-items-center parallax">


    <h1 class="header">THE BUILDERS</h1>


  </div>
</div>

<div class="container-fluid middle my-5">
  <div class="row my-5 px-3 d-flex justify-content-center">
    <div class="col col-8 team"></div>
  </div>


  <div class="row my-5 px-3 d-flex justify-content-around ">
    <div class="col col-md-3 col-sm-12 col-12 d-flex text">
      <div class="container-fluid">
        <div class="row">
          <div class="col name">
            <h4>JOSH<br>HUGHES</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3><a href="https://github.com/joshrhughes">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/joshuaryanhughes">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="http://joshuaryanhugh.es">
              <i class="fas fa-user-circle"></i>
            </a></h3>
          </div>
        </div>
      </div>
    </div>

      <div class="col col-md-3 col-sm-12 col-12 d-flex text">
        <div class="container-fluid">
          <div class="row">
            <div class="col name">
              <h4>RICKY<br>TRANMER</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>
                <a href="https://github.com/RickyTranmer">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/RickyTranmer">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="http://rickytranmer.com">
                  <i class="fas fa-user-circle"></i>
                </a>
              </h3>
            </div>
          </div>
        </div>
      </div>

        <div class="col col-md-3 col-sm-12 col-12 d-flex text">
          <div class="container-fluid">
            <div class="row">
              <div class="col name">
                <h4>AARON
                  <br>MIDDLETON</h4>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3>
                  <a href="https://github.com/middtown">
                    <i class="fab fa-github"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/middletonaaron">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="http://aaronmiddleton.co/">
                    <i class="fas fa-user-circle"></i>
                  </a>
                </h3>
              </div>
            </div>
          </div>
        </div>
  </div>

</div>

