$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;

.container-fluid {
  padding: 0;
}
.jumbotron {
  background-color: rgba(247, 247, 245, .75);
  margin-top: 20vh;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg {
  background-image: url('/assets/background1.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -22vh;
  position: relative;
}
.header {
  color: $offwhite;

}

h1 {
  color: $grey;
}
img {
  width: 100%;
}
span {
  font-size: 1rem;
  // padding: 0;
}
ul {
  padding-left: 1vw;
}
li {
  font-size: 1.5rem;
  list-style: none;
  
    color: $green;
  
}