$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;



////////////
// navbar //
////////////

.logoMain {
  max-height: 50px;
}

.nav {
  margin: 0 20px;
}

.dropdown-menu.show {
  background-color: $grey;
  padding: 1rem;
}

.dropdown-toggle::after {
  display:none
}

.site-header a {
  color: $offwhite;
  transition: ease-in-out color .15s;
  height: 70px;
  margin-top: 20px;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.container {
  width: 100%;
  display: table-cell;
}

.cart{
  position: absolute;
  margin-top: -5px;
}

/////////////
// sidebar //
/////////////

.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 50vh;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}

	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}


/*Right*/
	.modal.right.fade .modal-dialog {
		right: 0px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}


/*
 * Extra utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}



////////////
// Footer //
////////////

footer {
  background-image: url('/assets/topogreen.jpg');
  background-size: contain;
  max-width: 100%;
  color: $offwhite;
  text-align: center;
  display: block;
}

.mpLogo {
  height: 30px;

}
