<nav class="navbar navbar-expand-md navbar-light sticky-top site-header">
  <a class="navbar-brand" routerLink="/"><img src="/assets/logoLongGreen.png" alt="logo" class='logoMain'></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav nav-center mt-2 mt-lg-0">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">
            <span class="sr-only">(current)</span>
          </a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            SHOP
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/items">WALLETS</a>
            <a class="dropdown-item" routerLink="/items">BAGS</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" routerLink="/items">ACC.</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">CONTACT</a>
        </li>
      </ul>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <button type="button" class="btn btn-default person" data-toggle="modal" data-target="#modalLogin">
        <i class="nav-icon fas fa-user"></i>
      </button>
      <button type="button" class="btn btn-default person" data-toggle="modal" data-target="#modalCart">
        <i class="nav-icon fas fa-shopping-cart"></i>
      </button>
    </ul>
  </div>
</nav>



<router-outlet></router-outlet>


  <!-- Login Modal -->
  <div class="modal right fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modalLogin">LOGIN</h4>
        </div>

        <div class="modal-body">

          <app-log-in></app-log-in>
          <hr>
          <p>Need an account?
            <a data-dismiss="modal" data-toggle="modal" data-target="#modalSignUp">Sign Up</a>
          </p>

          <!-- display current user, can be relocated -->
          <!-- <app-profile></app-profile> -->

        </div>

      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- Login modal -->

  <!-- Sign Up Modal -->
  <div class="modal right fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="modalSignUp">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modalSignUp">SIGN UP</h4>
        </div>

        <div class="modal-body">

          <app-sign-up></app-sign-up>
          <hr>
          <p>Already have an account?
            <a data-dismiss="modal" data-toggle="modal" data-target="#modalLogin">Login</a>
          </p>
        </div>

      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- Sign Up modal -->

  <!-- Cart Modal -->
  <div class="modal right fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="modalCart">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modalCart">CART</h4>
        </div>

        <div class="modal-body">

          <app-cart></app-cart>

        </div>

      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- Cart modal -->

  <footer id="footer" class="py-2">

  <img class="mpLogo" src="/assets/logoWhite.png" alt="logo">

    <div class="container-fluid row">

      <div class="col col-6">
        <h5>Follow</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a href="https://www.instagram.com/mtnpine/">Instagram</a>
          </li>
          <li>
            <a href="https://www.facebook.com/mtnpinedesigns/">Facebook</a>
          </li>
        </ul>
      </div>

      <div class="col col-6">
        <h5>Contact</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a routerLink="/contact">Email</a>
          </li>
          <li>
            <a routerLink="/about-devs">Devs</a>
          </li>
        </ul>
      </div>

    </div>
  </footer>


