$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;

@font-face {
    font-family: 'camptonextrabold';
    src: url('/assets/fonts/rene_bieder_-_campton_extrabold-webfont.woff2') format('woff2'),
         url('/assets/fonts/rene_bieder_-_campton_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'camptonextrabold';
}

////////////
// navbar //
////////////

.logoMain {
  max-height: 50px;
}

.nav-center {
  position:relative;
  margin:0 auto;
  left:-66px;
}


.nav {
  width: 100%;
}

nav {
   background-color: $offwhite;
}

.dropdown-menu.show {
  background-color: $offwhite;
  padding: 1rem;
}

.dropdown-toggle::after {
  display:none;
}


.site-header a {
  transition: ease-in-out color .15s;
  color: $green;
  // height: 70px;
}
.site-header a:hover {
  color: $grey;
  text-decoration: none;
}
// .container {
//   width: 100%;
// }
.cart{
  // margin-top: -120px;
  // z-index: -5;
}
.person {
  color: $green;
  background: transparent;
}

/////////////
// sidebar //
/////////////

.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 50vh;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}

	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}


/*Right*/
	.modal.right.fade .modal-dialog {
		right: 0px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: $green;
    background-color: $offwhite;
    height: 76px;
	}


/*
 * Extra utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.container-fluid {
	padding: 0;
}

div.col.col-6 {
	padding: 0;
	margin: 0 auto;
	width: 50vw;
}


////////////
// Footer //
////////////

footer {
  background-color: $green;
  background-image: url('/assets/topogreen.jpg');
  background-size: contain;
  width: 100%;
  color: $offwhite;
  text-align: center;
  display: block;

	//text-muted color
	a {
		color: #868e96;
	}

  a:hover {
  	color: $offwhite;
  }
}

.mpLogo {
  height: 30px;

}


@media only screen
	and (max-device-width: 768px) {
      .nav-center {
        position:relative;
        margin: auto;
        left:0px;
      }
      .navbar-brand {

        position:relative;
        margin:0 auto;
        left:25px;
      }
      .logoMain {
        max-height: 80px;
      }
      .navbar-nav {
        display: block;
        font-size: 25px;
        text-align: center;
      }
      .nav-icon {
        font-size: 25px;
      }
      .dropdown-menu.show {
        font-size: 20px;
        padding: 1rem;
        text-align: center;
        color: $offwhite;
        background-color: $green;
      }
      .site-header .dropdown-item{
        color: $offwhite;
      }
      .modal.left .modal-dialog,
	  .modal.right .modal-dialog{
        width: 100%;
      }
	}

@media only screen
	and (max-device-width: 380px) {
    .logoMain {
        max-height: 50px;
      }
  }
