
  <nav class="navbar site-header sticky-top py-1 navbar-trans .navbar-expand-lg ">
    <div class="container d-flex flex-column flex-md-row justify-content-center align-items-center .navbar-toggler">

      <div class="d-flex dropdown py-2 d-none d-md-inline-block align-items-center row justify-content-center">

        <div class="d-flex flex-col  d-md-inline-block">
          <a  data-toggle="dropdown" class="dropdown-toggle d-flex py-2 d-none d-md-inline-block align-items-center nav justify-content-center">SHOP</a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/items">WALLETS</a>
              </li>
              <li>
                <a href="#">BAGS</a>
              </li>
              <li>
                <a href="#">ACCESSORIES</a>
              </li>
              <li>
                <a href="#">Dropdown item 4</a>
              </li>
            </ul>
        </div>

        <div class="d-flex flex-col  d-md-inline-block">
          <a class="d-flex py-2 d-none d-md-inline-block align-items-center nav navbar-brand justify-content-center" routerLink="/"><img src="/assets/mtnpine_linewhite.png" alt="logo" class='logoMain'></a>
        </div>

        <div class="d-flex flex-col  d-md-inline-block">
          <a class="d-flex py-2 d-none d-md-inline-block align-items-center nav justify-content-center" routerLink="/about">ABOUT</a>
        </div>
      </div>

      <!-- <div class="float-right">
        <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2">Cart</button>
      </div> -->
    </div>
    <!-- <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" routerLink="#">Cart</a>
    </div> -->
    <div class="container cart">
      <div class="float-right">
      <button type="button" class="btn btn-default person" data-toggle="modal" data-target="#myModal2"><i class="fas fa-user"></i></button>

      </div>
    </div>


  </nav>




  <router-outlet></router-outlet>


  <!-- Modal -->
  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Cart</h4>
        </div>

        <div class="modal-body">
          <app-sign-up></app-sign-up>

          <app-log-in></app-log-in>
        </div>

      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->

  <footer class="py-5">

  <img class="mpLogo" src="/assets/mp.png" alt="logo">

    <div class="row">

      <div class="col-6 col-md">
        <h5>Follow Us</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="https://www.instagram.com/mtnpine/">Instagram</a>
          </li>
          <li>
            <a class="text-muted" href="https://www.facebook.com/mtnpinedesigns/">Facebook</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h5>Contact Us</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" routerLink="/contact">Email</a>
          </li>
          <li>
            <a class="text-muted" routerLink="/aboutus">Devs</a>
          </li>
        </ul>
      </div>

    </div>
  </footer>


