
  <nav class="navbar site-header sticky-top py-1 navbar-trans .navbar-expand-lg ">
    <div class="container d-flex p-2 justify-content-center  .navbar-toggler">

      <div class="d-flex dropdown py-2 d-none d-md-inline-block align-items-center row justify-content-center">

        <div class="d-flex flex-col  d-md-inline-block">
          <a  data-toggle="dropdown" class="dropdown-toggle d-flex py-2 d-none d-md-inline-block align-items-center nav justify-content-center">SHOP</a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/items">WALLETS</a>
              </li>
              <li>
                <a href="#">BAGS</a>
              </li>
              <li>
                <a href="#">ACCESSORIES</a>
              </li>
              <li>
                <a href="#">Dropdown item 4</a>
              </li>
            </ul>
        </div>

        <div class="d-flex flex-col  d-md-inline-block">
          <a class="d-flex py-2 d-none d-md-inline-block align-items-center nav navbar-brand justify-content-center" routerLink="/"><img src="/assets/mtnpine_linewhite.png" alt="logo" class='logoMain'></a>
        </div>

        <div class="d-flex flex-col  d-md-inline-block">
          <a class="d-flex py-2 d-none d-md-inline-block align-items-center nav justify-content-center" routerLink="/about">ABOUT</a>
        </div>
      </div>

      <!-- <div class="float-right">
        <button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2">Cart</button>
      </div> -->

    <!-- </div> -->

    <!-- <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" routerLink="#">Cart</a>
    </div> -->
    <div class="container float-right cart">
      <div class="float-right">
      <button type="button" class="btn btn-default person" data-toggle="modal" data-target="#modalLogin">
        <i class="fas fa-user"></i>
      </button>
      <button type="button" class="btn btn-default person" data-toggle="modal" data-target="#modalCart">
        <i class="fas fa-shopping-cart"></i>
      </button>


      </div>
    </div>
</div>

  </nav>


<router-outlet></router-outlet>


  <!-- Login Modal -->
  <div class="modal right fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modalLogin"></h4>
        </div>

        <div class="modal-body">

          <app-log-in></app-log-in>
          <hr>
          <p>Need an account?
            <a data-dismiss="modal" data-toggle="modal" data-target="#modalSignUp">Sign Up</a>
          </p>
        </div>

      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- Login modal -->

  <!-- Sign Up Modal -->
  <div class="modal right fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="modalSignUp">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modalSignUp"></h4>
        </div>

        <div class="modal-body">

          <app-sign-up></app-sign-up>
          <hr>
          <p>Already have an account?
            <a data-dismiss="modal" data-toggle="modal" data-target="#modalLogin">Login</a>
          </p>
        </div>

      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- Sign Up modal -->

  <!-- Cart Modal -->
  <div class="modal right fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="modalCart">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modalCart"></h4>
        </div>

        <div class="modal-body">

          <app-cart></app-cart>

        </div>

      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- Cart modal -->

  <footer class="py-5">

  <img class="mpLogo" src="/assets/mp.png" alt="logo">

    <div class="container-fluid row">

      <div class="col col-6">
        <h5>Follow</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a href="https://www.instagram.com/mtnpine/">Instagram</a>
          </li>
          <li>
            <a href="https://www.facebook.com/mtnpinedesigns/">Facebook</a>
          </li>
        </ul>
      </div>

      <div class="col col-6">
        <h5>Contact</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a routerLink="/contact">Email</a>
          </li>
          <li>
            <a routerLink="/about-devs">Devs</a>
          </li>
        </ul>
      </div>

    </div>
  </footer>


