$grey:#6a6a6a;
$green:#5b665b;
$offwhite: #f7f7f5;


////////////
// navbar //
////////////

button, a {
  cursor: pointer;
}
.logoMain {
  max-height: 50px;
}
.nav-center {
  position:relative;
  margin:0 auto;
  left:-50px;
}

//to override Bootstrap
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $green;
}

nav {
   background-color: $offwhite;
   font-family: 'camptonmedium';
}

.dropdown-menu.show {
  background-color: $offwhite;
  margin-top: 2vh;
  padding-right: 15vh;
}


.dropdown-toggle::after {
  display:none;
  color: $green;
}

.site-header a {
  transition: ease-in-out color .15s;
  color: $green;
  margin: 0 20px;
  // height: 70px;
}
.site-header .nav-center a:hover {
  color: $offwhite;
  text-decoration: none;
  background-color: $green;
}
.person {
  color: $green;
  background: transparent;
}


/////////////
// sidebar //
/////////////

.modal.right {
  .modal-dialog {
    position: fixed;
    margin: auto;
    width: 50vh;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }
  .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
    border: none;
  }
  .modal-body {
    padding: 15px 15px 80px;
    background-color: $offwhite;
  }
  .modal-title {
    text-align: center;
  }
  .modal-header {
    // border-bottom-color: $green;
    background-color: $offwhite;
    height: 76px;

    .close {
      margin-left: 0;
    }
  }
}

// .modal.left .modal-dialog,
// 	.modal.right .modal-dialog {
// 		position: fixed;
// 		margin: auto;
// 		width: 50vh;
// 		height: 100%;
// 		-webkit-transform: translate3d(0%, 0, 0);
// 		    -ms-transform: translate3d(0%, 0, 0);
// 		     -o-transform: translate3d(0%, 0, 0);
// 		        transform: translate3d(0%, 0, 0);
// 	}

// 	.modal.left .modal-content,
// 	.modal.right .modal-content {
// 		height: 100%;
// 		overflow-y: auto;
// 	}

// 	.modal.left .modal-body,
// 	.modal.right .modal-body {
// 		padding: 15px 15px 80px;
// 	}


/*Right*/
	.modal.right.fade .modal-dialog {
		right: 0px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

.border-top, .border-bottom {
  border-top: 1px solid #e5e5e5;
}

div.col.col-6 {
	margin: 0 auto;
	width: 50vw;
}

///////////////
// Padding 0 //
///////////////

div.col.col-6, .container-fluid, .dropdown-item {
  padding: 0;
}

////////////
// Footer //
////////////

footer {
  background-color: $green;
  // background-image: url('/assets/topogreen.jpg');
  background-size: contain;
  width: 100%;
  color: $offwhite;
  text-align: center;
  display: block;
  font-family: 'camptonthin';

	//text-muted color
	a {
		color: #868e96;
	}

  a:hover {
  	color: $offwhite;
  }
}

.mpLogo {
  height: 80px;
  margin-bottom: -15vh;

}


///////////////////
// Media Queries //
///////////////////


@media only screen
	and (max-device-width: 768px) {
      .nav-center {
        position:relative;
        margin: auto;
        left:0px;
      }
      .navbar-brand {
        position:relative;
        margin:0 auto;
        left:25px;
      }
      .logoMain {
        max-height: 80px;
      }
      .navbar-nav {
        display: block;
        font-size: 25px;
        text-align: center;
      }
      .nav-icon {
        font-size: 25px;
      }
      .dropdown-menu.show {
        font-size: 20px;
        padding: 1rem;
        text-align: center;
        color: $offwhite;
        background-color: $green;
      }
      .site-header .dropdown-item{
        color: $offwhite;
      }
      .modal.left .modal-dialog,
	  .modal.right .modal-dialog{
        width: 100%;
      }
	}

@media only screen
	and (max-device-width: 380px) {
    .logoMain {
        max-height: 50px;
      }
  }
